/* You can add global styles to this file, and also import other style files */


body{
  width: 85%;
  margin: auto;
}

.inputRadio {
  display: inline;
  margin-right: 2rem;
}


hr{
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
  /*margin-top: 2rem;*/

}
